/Clases/Clases/nbproject/private/
/Clases/EstructuraTarea1/nbproject/private/
/Materia/EstructuraMateria/nbproject/private/
/Tareas/EstructuraTareas/nbproject/private/
/Tareas/EstructuraTareas/build/
/Materia/EstructuraMateria/build/
/DataStructures/target/
